/.*/

/build/
/score_capture.code-workspace
/**/config.ini

/**/__pycache__/
/**/output/
/**/legacy/
/**/test/
/**/test.py
/**/log*.txt
/src/logs
/src/config
/src/binding
/src/View/ui/*_ui.py
/src/resource/compiled_resource.py
/src/resource/translations/*.qm
/config/
/logs/
